body{
  font-size: 10px;
  color: #fedcd2;
  background-color: #e6af4b /*#bfd8d2*/; 
  font-family: 'Oxygen', sans-serif; 
}

.container{
margin: 30px;
padding-left: auto;
margin: auto;
} 

.navbar-header{
padding-bottom: 40px;
}

/** HEADER **/
#header-nav{
  background-color:#e05038;
  font-family: 'Gloria Hallelujah', cursive;
  border-radius: 0;
  border: 0;
  color:  #a7b3a5;
}


.navbar-brand{
  padding-top: 25px;
  padding-bottom: 25px;
}

.navbar-brand:hover {
text-decoration: none;
}
.navbar-brand h1{ 
font-family: 'Oxygen', sans-serif;
color: #729f98 ;
font-size: 2em;
font-weight: bold ;
text-shadow: 1px 1px 1px #222;
margin-top: 0;
margin-bottom: 0;
line-height: 0.75;
padding-bottom: 25px;
}


 #nav-list {
  margin-top: 10px;
 }

 #nav-list a {
  color: black;
  text-align: center;
  font-size: 1.2em;
 }

#nav-list a:hover {
  background: #8e8787;
  border-radius: 20px;
}



.container h1{
  text-align: center;
 text-shadow: 2px 1px 1px #222;
  font-stretch: 2; 
}

#main-content div {
  text-align: center;
  padding: auto;
  margin-bottom: 15px;
  margin-left: 10px;
  margin-right: 10px;
   border: 2px solid #ccc;
 background-color: #334431;
font-family: 'Indie Flower', cursive;
font-size: 1.5em;
}

#main-content div a h2:hover{
  text-decoration: none;
}

@media (max-width: 767px){

   .navbar-brand {
    padding-top: 10px;
    height: 20px;
  }
  .navbar-brand h1 { /* Restaurant name */
    padding-top: 10px;
    font-size: 5vw; /* 1vw = 1% of viewport width */
  }
  
  #collapsable-nav a { /* Collapsed nav menu text */
    font-size: 1.2em;
  }

  #collapsable-nav{
  background: #ccc; 
}
 
}

/*Footer*/
/* FOOTER */
.panel-footer {
  margin-top: 30px;
  padding-top: 35px;
  padding-bottom: 30px;
  background-color: #222;
  border-top: 0;
  opacity: 0.6;
}
.panel-footer div.row {
  margin-bottom: 35px;
}
#hours, #address {
  line-height: 2;
}
#hours > span, #address > span {
  font-size: 1.3em;
}
#address p {
  color: #557c3e;
  font-size: .8em;
  line-height: 1.8;
}
#testimonials {
  font-style: italic;
}
#testimonials p:nth-child(2) {
  margin-top: 25px;
}
/*End Footer*/